@model CetBookStore.Models.Category

@{
    ViewData["Title"] = Model.Name;
}

<h1>@Model.Name</h1>
<hr />



<table class="table">
    <thead>
        <tr>
            <th>
               Name
            </th>
            
            <th>
                Author
            </th>
            <th>
               Publisher
            </th>
           
            <th>
               Price
            </th>
            
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Books)
        {
            <tr>
                <td>
                    <a asp-action="Details" asp-controller="Books" asp-route-id="@item.Id"> @Html.DisplayFor(modelItem => item.Name)</a>
                </td>
               
                <td>
                    @Html.DisplayFor(modelItem => item.Author)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Publisher)
                </td>
               
                <td>
                    @if (item.IsInSale) { <span  class="text-danger text-decoration-line-through"> @item.PreviousPrice </span> }
                    @Html.DisplayFor(modelItem => item.Price)
                </td>
               
                <td>
                    <form asp-controller="Orders" asp-action="BuyNow" method="post" class="d-inline">
                        @Html.AntiForgeryToken()
                        <input type="hidden" name="itemId" value="@item.Id" />
                        <button class="btn btn-sm btn-success">Buy Now</button>
                    </form>
                    |
                    <form asp-controller="Cart" asp-action="AddToCart" method="post" class="d-inline">
                        @Html.AntiForgeryToken()
                        <input type="hidden" name="itemId" value="@item.Id" />
                        <button class="btn btn-sm btn-primary">Add to Basket</button>
                    </form>
                </td>
            </tr>
        }
    </tbody>
</table>





